.fade-enter, .fade-exit {
  position: absolute;
  left: 1rem;
  right: 1rem;
  will-change: opacity;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
  z-index: 0;
}