@import url('https://fonts.googleapis.com/css?family=Asap:700i|Open+Sans:400i');
@import 'colors';

html, body {
    background: $black;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    min-height: 100%;
}

body {
    margin: 1rem;
}

h1 {
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

a {
    color: $black;
    opacity: 1;
    transition: opacity ease-in-out 0.15s;
    &:focus, &:hover {
        opacity: 0.5;
    }
}


@import 'footer';